<mat-toolbar color="primary">
	<span>{{ title }}</span>
	<span class="fill-remaining-space"></span>
	<span>
		<button mat-icon-button [matMenuTriggerFor]="menu">
			<mat-icon>more_vert</mat-icon>
		</button>
		<mat-menu #menu="matMenu">
			<button mat-menu-item>
				<span>Hi {{ _user_displayName }}!</span>
			</button>
			<button mat-menu-item class="btn btn-default" (click)="logout()">
				<mat-icon>exit_to_app</mat-icon>
				<span>Exit</span>
			</button>
			<button mat-menu-item>
				<mat-icon>code</mat-icon>
				<span>Github</span>
			</button>
		</mat-menu>
	</span>
</mat-toolbar>

<mat-grid-list cols="6" rowHeight="1:1.5" gutterSize="15px">
	<mat-grid-tile colspan="4" rowspan="2">
		<mat-card>
			<agm-map [latitude]="lat" [longitude]="lng">
				<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
				<agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
				[radius]="5000"
				[fillColor]="'red'"
				[circleDraggable]="true"
				[editable]="true">
			</agm-circle>
		</agm-map>
	</mat-card>
</mat-grid-tile>
<mat-grid-tile colspan="2" rowspan="2">
	<mat-card>

<!-- 		<mat-list role="list" *ngFor="let item of dataSource | async" >
			<mat-list-item role="listitem"> {{ item.latitude }} </mat-list-item>
		</mat-list>
	-->
<!-- 		<mat-table #table [dataSource]="dataSource">

			<ng-container matColumnDef="lat">
				<mat-header-cell *matHeaderCellDef> Latitude </mat-header-cell>
				<mat-cell *matCellDef="let item"> {{ (item | async)?.latitude }} </mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
			<mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>

		</mat-table> -->

		<mat-table [dataSource]="dataSource">
			<ng-container matColumnDef="lat">
				<mat-header-cell *matHeaderCellDef> Latitude </mat-header-cell>
				<mat-cell *matCellDef="let location"> {{ location.latitude }} </mat-cell>
			</ng-container>
			<ng-container matColumnDef="long">
				<mat-header-cell *matHeaderCellDef> Longitude </mat-header-cell>
				<mat-cell *matCellDef="let location"> {{ location.longitude }} </mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
		</mat-table>

	</mat-card>
</mat-grid-tile>
</mat-grid-list>

